# Ignore the damn OSX DS_Store files
.DS_Store


# Ignore List
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.vagrant
Berksfile.lock
Gemfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
.bundle
.cache
.kitchen
.kitchen.local.yml
.coverage
*~
.#*
\#*\#
*.svn
*.iml
.project
.idea
.ssh
.buildpath
.colander/
.rvmrc
.rvmlog
.chef/
cookbooks/
.metadata/


# Ignore swp files
*.swp


